<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Result</title>

  <script src="https://kit.fontawesome.com/47101d2035.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <style>
    .center {
      position: absolute;
      text-align: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Times New Roman', Times, serif;
      background-color: lavender;
    }
  </style>
</head>

<body class="center">

  {% if resdia == 'Positive' %}
  <h1 style=" color: black; font-weight: 500;">
  Diabetes Detected!

  {% elif resdia == 'Negative' %}
  <h1 style="color: black; font-weight: 500;">
  Diabetes Not Detected

  {% else %}
  <h1 style="color: rgb(31, 15, 15); font-weight: 500;">ERROR</h1>
  {% endif %}

  <!-- {% if resdia %}
    <h1>The Result is {{resdia}}</h1>
  {% endif %} -->

</body>

</html>